# Rust
target/
**/*.rs.bk
Cargo.lock

# Environment
.env
.env*.local
.env.example

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
*.o
*.so

# Python
__pycache__/
*.pyc
venv/
node_modules

# Frontend build & electron artifacts
frontend/dist/
frontend/dist_electron/
